* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
}

.material-icons {
    color: rgb(96, 96, 96);
}

.navContainer {
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: white;
}

.header {
    display: flex;
    border-bottom: 2px solid #ddd;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 2px 18px;
}

.header .headerLeft {
    display: flex;
    align-items: center;
}

.header .headerLeft img {
    width: 50px;
}

.header .headerLeft i {
    padding: 0 10px;
    cursor: pointer;
}

.headerSearch form {
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}

.headerSearch form input {
    width: 500px;
    margin: 0;
    height: 100%;
}

.inputBox {
    padding: 0 10px;
    border: none;
}

.headerSearch {
    border: 1px solid #ddd;
}

.headerSearch button {
    border: none;
}

.main {
    display: flex;
    height: calc(100vh - 70px);
}

.sidebar {
    position: fixed;
    top: 8%;
    height: 100%;
    width: 230px;
    background-color: white;
}

.sidebar_categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidebar_category {
    display: flex;
    align-items: center;
    padding: 15px 25px;
}

.sidebar_category span {
    margin-left: 15px;
}

.sidebar_category:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}

hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

.videos {
    margin-top: 50px;
    background-color: #f9f9f9;
    width: calc(100% - 240px);
    margin-left: auto;
    height: 100%;
    padding: 15px 15px;
    border-top: 1px solid #ddd;
    z-index: 2;
}

.videos_container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.video {
    width: 310px;
    margin-bottom: 30px;
}

.video .video_thumbnail img {
    width: 100%;
    border: 1px solid #ddd;
}

.author img {
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.video_details {
    display: flex;
    margin-top: 5px;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h3 {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}

.title a,
span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(3, 3, 3);
}
